@page "/newdoctor"
@using KNU.RS.Logic.Services.QualificationService

@inherits NewDoctorBase

@attribute [Authorize]

@if (IsLoading)
{
    <div class="spinner"></div>
}
else
{
    <div class="main-wrapper">
        <Header></Header>
        <Sidebar></Sidebar>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Новий лікар</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <EditForm Model="@RegistrationModel" OnValidSubmit="@SaveDoctorAsync">
                            <DataAnnotationsValidator />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ім'я <span class="text-danger">*</span></label>
                                        <InputText @bind-Value="RegistrationModel.FirstName" autofocus="" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.FirstName)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Прізвище <span class="text-danger">*</span></label>
                                        <InputText @bind-Value="RegistrationModel.LastName" autofocus="" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.LastName)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>По-батькові <span class="text-danger">*</span></label>
                                        <InputText @bind-Value="RegistrationModel.MiddleName" autofocus="" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.MiddleName)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        <InputText @bind-Value="RegistrationModel.Email" autofocus="" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.Email)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Дата народження <span class="text-danger">*</span></label>
                                        <InputDate @bind-Value="RegistrationModel.Birthday" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.Birthday)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group gender-select">
                                        <label class="gen-label">Стать: <span class="text-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input" @onclick="@ChangeGenderMale" checked>Чоловіча
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input" @onclick="@ChangeGenderFemale">Жіноча
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Адреса <span class="text-danger">*</span></label>
                                                <InputText @bind-Value="RegistrationModel.Address" autofocus="" class="form-control" />
                                                <ValidationMessage For="@(() => RegistrationModel.Address)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Номер телефону <span class="text-danger">*</span></label>
                                        <InputText @bind-Value="RegistrationModel.PhoneNumber" autofocus="" class="form-control" />
                                        <ValidationMessage For="@(() => RegistrationModel.PhoneNumber)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Фото</label>
                                        <div class="profile-upload">
                                            <div class="upload-img">
                                                <img alt="" src="img/user.jpg">
                                            </div>
                                            <div class="upload-input">
                                                <InputFile OnChange="@AssignPhotoAsync" autofocus="" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Посада <span class="text-danger">*</span></label>
                                        <select id="select-qualification" class="form-control select" title="Оберіть зі списку">
                                            <option selected disabled>Оберіть зі списку</option>
                                            @foreach (var qualification in Qualifications)
                                            {
                                                <option value="@qualification.Id">@qualification.Name</option>
                                            }
                                        </select>
                                        <ValidationMessage For="@(() => RegistrationModel.QualificationId)" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Відділення <span class="text-danger">*</span></label>
                                        <select id="select-clinic" class="form-control select" title="Оберіть зі списку">
                                            <option selected disabled>Оберіть зі списку</option>
                                            @foreach (var clinic in Clinics)
                                            {
                                                <option value="@clinic.Id">@clinic.Name</option>
                                            }
                                        </select>
                                        <ValidationMessage For="@(() => RegistrationModel.ClinicId)" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Біографія</label>
                                <InputTextArea @bind-Value="RegistrationModel.Biography" autofocus="" class="form-control" rows="3" cols="30" />
                                <ValidationMessage For="@(() => RegistrationModel.Biography)" />
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Зберегти</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
}

@code
{
    [JSInvokable("Select2_ChangeClinic")]
    public void ChangeClinic(string stringId)
    {
        var id = new Guid(stringId);
        RegistrationModel.ClinicId = id;
    }

    [JSInvokable("Select2_ChangeQualification")]
    public void ChangeQualification(string stringId)
    {
        var id = new Guid(stringId);
        RegistrationModel.QualificationId = id;
    }

    private void ChangeGenderFemale()
    {
        RegistrationModel.Gender = Data.Enums.Gender.Female;
    }

    private void ChangeGenderMale()
    {
        RegistrationModel.Gender = Data.Enums.Gender.Male;
    }
}

