@using KNU.RS.Data.Enums 

@inherits DoctorProfileBase 

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Профіль</h4>
            </div>
            <AuthorizeView Roles="Admin">
                <Authorized>
                    <div class="col-sm-5 col-6 text-right m-b-30">
                        <a href="/editdoctor/@Doctor.UserId" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Редагувати</a>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href="javascript:void(0);"><img class="avatar img-profile" src="@GetPhotoURI()" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <br />
                                        <br />
                                        <h3 class="user-name m-t-0 mb-0" style="padding-right:10px">@Doctor.ToString()</h3>
                                        <span class="text-muted">@Doctor.QualificationName</span>
                                        <br />
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Вік:</span>
                                            <span class="text">@Doctor.Age</span>
                                        </li>
                                        <li>
                                            <span class="title">Стать:</span>
                                            <span class="text">@(Doctor.Gender.Equals(Gender.Female) ? "Жіноча" : "Чоловіча")</span>
                                        </li>
                                        <li>
                                            <span class="title">Телефон:</span>
                                            <span class="text"><a href="javascript:void(0);">@Doctor.PhoneNumber</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Адреса:</span>
                                            <span class="text">@Doctor.Address</span>
                                        </li>
                                        <li>
                                            <span class="title">Науковий ступінь:</span>
                                            <span class="text">@Doctor.Degree</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Інформація</a></li>
                <AuthorizeView Roles="Admin,Doctor">
                    <Authorized>
                        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Пацієнти</a></li>
                    </Authorized>
                </AuthorizeView>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">Запис до лікаря</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Професійні компетенції</h3>
                                <div class="experience-box">
                                    @Doctor.Competencies
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Біографія</h3>
                                <div class="experience-box">
                                    @Doctor.Biography
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Doctor.Educations != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h3 class="card-title">Освіта</h3>
                                    <div class="experience-box">
                                        <ul class="experience-list">
                                            @foreach (var education in Doctor.Educations)
                                            {
                                                <li>
                                                    <div class="experience-user">
                                                        <div class="before-circle"></div>
                                                    </div>
                                                    <div class="experience-content">
                                                        <div class="timeline-content">
                                                            <a href="javascript:void(0);" class="name">@education.InstitutionName.</a>
                                                            <div>@education.Degree</div>
                                                            <span class="time">@education.StartDate.Year - @education.EndDate.Year</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (IsLoading)
                {
                    <div class="spinner"></div>
                }
                else
                {
                    <div class="tab-pane" id="bottom-tab3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <DoctorPatients Patients="DoctorPatients" DoctorId="Doctor.Id" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="tab-pane" id="bottom-tab4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <ul class="list-unstyled">
                                    <li>
                                        <h5>
                                            <strong>@Doctor.ClinicName</strong>
                                        </h5>
                                    </li>
                                    <li class="text">@Doctor.ClinicAddress</li>
                                    <li class="text" style="margin-top: 12px;"><a href="javascript:void(0);">@Doctor.ClinicPhoneNumber</a> (@Doctor.ClinicWorkingHours)</li>
                                    <li class="text">Аудиторія номер @Doctor.Room</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>