@using KNU.RS.Data.Enums
@using EnumsNET

@inherits PatientProfileBase

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">Пацієнт</h4>
            </div>
            <div class="col-sm-5 col-6 text-right m-b-20 super-btn">
                <a href="/editpatient/@Patient.UserId" class="btn btn-primary btn-rounded float-right"><i class="fa fa-edit"></i> Редагувати</a>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-patient">
                            <div class="profile-img">
                                <a href="javascript:void(0)"><img class="avatar" src="@PhotoHelper.GetURI(Patient, Options.Value)" alt="" style="object-fit:cover;"></a>
                            </div>
                        </div>
                        <br>
                        <h3 class="user-name m-t-0 mb-0" style="text-align:center;">@Patient.ToString()</h3>
                        <div>
                            <ul class="personal-info" style="text-align:center;">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Інформація</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Обстеження</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Прогрес</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">Вправи</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="about-cont">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Основні відомості</h3>
                                <div class="experience-box">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Стать:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@(Patient.Gender.Equals(Gender.Male) ? "Чоловіча" : "Жіноча")</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Дата народження:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.FormattedBirthday</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Вага:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.Weight</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6" style="width:100%">
                                                    <span class="title">Зріст:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.Height</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Сімейний стан:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@(((MaritalStatus)Patient.MaritalStatus).AsString(EnumFormat.Description))</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Освіта:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@(((EducationStatus)Patient.EducationStatus).AsString(EnumFormat.Description))</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Зайнятість:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@(((Occupation)Patient.Occupation).AsString(EnumFormat.Description))</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Місце роботи:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.Job</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Посада:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.Position</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Номер полісу медичного страхування:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.HealthInsuranse</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Назва компанії медичного страхування:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.HealthInsuranseCompany</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%">Документ, що посвідчує особу:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%">@Patient.Passport</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Контакти</h3>
                                <div class="experience-box">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%;">Телефон:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%;"><a href="javascript:void(0)">@Patient.PhoneNumber</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title" style="width:100%;">Email:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text" style="width:100%;"><a href="javascript:void(0)">@Patient.Email</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <span class="title">Адреса:</span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <span class="text">@Patient.Address</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-box">
                                <h3 class="card-title">Вади</h3>
                                <div class="experience-box">
                                    <ul class="personal-info">
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span class="title">Скарги:</span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <span class="text">@Patient.Complaints</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <span class="title">Діагноз:</span>
                                                </div>
                                                <div class="col-sm-12">
                                                    <span class="text">@Patient.Diagnosis</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="bottom-tab2">
                    @if (IsLoading)
                    {
                        <div class="spinner"></div>
                    }
                    else
                    {
                        @if (Studies.Count() > 0)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-box">
                                        <div class="experience-box">
                                            <StudiesTable Studies="Studies"></StudiesTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <br />
                                            <h5>Обстеження цього пацієнта ще не проводилось.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="tab-pane" id="bottom-tab3">
                    @if (IsLoading)
                    {
                        <div class="spinner"></div>
                    }
                    else
                    {
                        @if (Studies.Count() > 1)
                        {
                            <div class="row">
                                @foreach (var studiesOfSubtype in StudyDetails.GroupBy(s => new { s.SerialNumber, s.StudySubtypeName, s.StudyTypeName }))
                                {
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="chart-title">
                                                    <h4>@($"{studiesOfSubtype.Key.StudyTypeName} : {studiesOfSubtype.Key.StudySubtypeName}")</h4>
                                                </div>
                                                <canvas id="@($"studylinegraph{studiesOfSubtype.Key.SerialNumber}")"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <br />
                                            <h5>Для відображення інформації про прогес у пацієнта необхідно провести принаймні два дослідження.</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="tab-pane" id="bottom-tab4">
                    @if (IsLoading)
                    {
                        <div class="spinner"></div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <RecoveryExercisesTable PatientId="Patient.Id"></RecoveryExercisesTable>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>