@inherits PatientsTableBase

<div class="row">
    <div class="col-sm-2 col-3">
        <h4 class="page-title">Пацієнти</h4>
    </div>
    <div class="col-sm-4 col-9 m-b-10">
        <input type="text" class="form-control" placeholder="Пошук" @bind="FilteringModel.SearchWord">
    </div>
    <div class="col-sm-2 col-9 m-b-10">
        <button class="btn btn-primary float-right" @onclick="Filter">Пошук</button>
    </div>
    <div class="col-sm-2 col-9 m-b-10">
        <button class="btn btn-primary float-right" @onclick="ClearFilters">Очистити</button>
    </div>
    <div class="col-sm-2 col-9 text-right m-b-10">
        <a href="/newpatient" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Додати</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table datatable mb-0">
                <thead>
                    <tr>
                        <th>Повне ім'я</th>
                        <th>Вік</th>
                        <th>Адреса</th>
                        <th>Номер телефону</th>
                        <th>Email</th>
                        <th class="text-right">Дія</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patient in PatientsPage.Items)
                    {
                        <tr>
                            <td><img width="28" height="28" class="rounded-circle img-profile" src="@GetPhotoURI(patient)" alt=""> @patient.ToString()</td>
                            <td>@patient.Age</td>
                            <td>@patient.Address</td>
                            <td>@patient.PhoneNumber</td>
                            <td>@patient.Email</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/editpatient/@patient.UserId"><i class="fa fa-pencil m-r-5"></i> Редагувати</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient" @onclick="() => AssignPatientToDelete(patient)"><i class="fa fa-trash-o m-r-5"></i> Видалити</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <ul class="pagination" style="justify-content: flex-end;">
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" aria-label="Previous" @onclick="() => GoToPage(1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Назад</span>
            </a>
        </li>
        @foreach (var pageNo in AvailablePages)
        {
            <li class="page-item @(pageNo == PatientsPage.PageIndex ? "active" : string.Empty)"><a class="page-link" href="javascript:void(0)" @onclick="() => GoToPage(pageNo)">@pageNo</a></li>
        }
        <li class="page-item">
            <a class="page-link" href="javascript:void(0)" aria-label="Далі" @onclick="() => GoToPage(PatientsPage.TotalPages)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Далі</span>
            </a>
        </li>
    </ul>
</div>
<div id="delete_patient" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="img/sent.png" alt="" width="50" height="46">
                <h3>Ви впевнені, що бажаєте видалити цього пацієнта з системи?</h3>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal" @onclick="ClearPatientToDelete">Ні</a>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" @onclick="DeleteAsync">Так</button>
                </div>
            </div>
        </div>
    </div>
</div>

