@inherits RecoveryExercisesTableBase

@if (IsLoading)
{
    <div class="spinner"></div>
}
else
{
    <div class="col-sm-12 col-6 text-right m-b-30">
        <a href="javascript:void(0)" class="btn btn-primary btn-rounded" @onclick="async () => await DisplayNewPlanAsync()"><i class="fa fa-plus"></i> Нова вправа</a>
    </div>
    @if (Plans.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border custom-table mb-0">
                        <thead>
                            <tr>
                                <th>Дата виконання</th>
                                <th>Лікар</th>
                                <th>Назва</th>
                                <th>Повторень</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var plan in Plans)
                            {
                                <tr>
                                    <td>@plan.DateTime.ToString("dd.MM.yyyy")</td>
                                    <td>@plan.DoctorName</td>
                                    <td><a href="javascript:void(0)" @onclick="async () => await DisplayDescriptionAsync(plan.Description)">@plan.Name</a></td>
                                    <td>@plan.Times</td>
                                    <td><span id="plan-status-@plan.SerialNumber"> @GetStatus(plan)</span><i id="plan-status-image-@plan.SerialNumber" class="fa @GetStatusClass(plan)"></i></td>
                                    <td><button type="button" class="btn btn-success" @onclick="async () => await MarkAsCompletedAsync(plan.Id, plan.SerialNumber)" disabled="@GetButtonDisabled(plan)">Виконати</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <br />
        <ul class="list-unstyled">
            <li>
                <h5>
                    <strong>Наразі пацієнту не призначено до виконання жодної вправи.</strong>
                </h5>
            </li>
            <li class="text">Призначайте пацієнтам вправи до виконання та спостерігайте за прогресом протягом обстежень.</li>
        </ul>
    }
    <div id="new-plan-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <NewRecoveryPlan PatientId="PatientId"></NewRecoveryPlan>
                </div>
            </div>
        </div>
    </div>
    <div id="plan-description-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <h5>@PlanDescriptionToDosplay</h5>
                        </div>
                    </div>
                    <div class="m-t-20">
                        <button type="submit" class="btn btn-info" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

